<p id="notice"><%= notice %></p>


<header>
  <a href= />
<img src="/pp_logo.png" alt="PoliPoints Logo" class="img">  </a>
</header>

<h1>
  <strong><%= @speech.candidate.name %></strong>
</h1>

<p>
  <strong>Date of Speech:</strong>
  <%= @speech.date %>
</p>

<p id="speechtext">
  <strong>Text:</strong>
  <%= @speech.text %>
</p>

<br>
<p>
  <strong>Concept Count: </strong><%= @speech.concepts.count %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Concept</th>
      <th>Relevance</th>
    </tr>
  </thead>
  <tbody>
    <% @speech.concepts.each do |concept| %>
    <tr>
      <td><%= concept.idea %></td>
      <td><%= '%.2f' % (concept.relevance) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_speech_path(@speech) %>
<%= link_to 'Back', {controller: 'candidates', action: 'show', id: "#{@speech.candidate_id}"} %>
<%= link_to 'New Watson', "#{@speech.id}/analyze" %>
