<p id="notice"><%= notice %></p>

<p>
  <strong>Idea:</strong>
  <%= @concept.idea %>
</p>

<p>
  <strong>Relevance:</strong>
  <%= @concept.relevance %>
</p>

<p>
  <strong>Speech:</strong>
  <%= @concept.speech %>
</p>

<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
